# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#any change to frameworks/native/ipc/idl/ICoAuth.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/ICoAuth.idl
#any change to frameworks/native/ipc/idl/IUserAuth.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IUserAuth.idl
#any change to frameworks/native/ipc/idl/IUserIdm.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IUserIdm.idl
#any change to frameworks/native/ipc/idl/IExecutorCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IExecutorCallback.idl
#any change to frameworks/native/ipc/idl/IExecutorMessenger.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IExecutorMessenger.idl
#any change to frameworks/native/ipc/idl/IGetExecutorPropertyCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IGetExecutorPropertyCallback.idl
#any change to frameworks/native/ipc/idl/IIamCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IIamCallback.idl
#any change to frameworks/native/ipc/idl/IIdmGetCredInfoCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IIdmGetCredInfoCallback.idl
#any change to frameworks/native/ipc/idl/IIdmGetSecureUserInfoCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IIdmGetSecureUserInfoCallback.idl
#any change to frameworks/native/ipc/idl/IModalCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IModalCallback.idl
#any change to frameworks/native/ipc/idl/ISetExecutorPropertyCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/ISetExecutorPropertyCallback.idl
#any change to frameworks/native/ipc/idl/IVerifyTokenCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IVerifyTokenCallback.idl
#any change to frameworks/native/ipc/idl/IWidgetCallback.idl needs to be reviewed by @leonchan5
frameworks/native/ipc/idl/IWidgetCallback.idl