.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.container-inner {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    position: fixed;
    bottom:10vp;
    font-size: 14fp;
    font-weight: medium;
    color: #FFFFFF;
    text-overflow: ellipsis;
    max-lines: 1;
    margin-left: 12vp;
}
