**/compile_commands.json
build
.vscode
.idea
*cmake-build-*
cts-generated
.dir-locals.el
artifacts/
cscope*
tags
.byebug_history
.cache
*.swp
*.abc
*.ll
*.m
test/regresstest/__pycache__/
test/regresstest/ark-regress/
.cursor
.codecheck
.clang-format
.gitkeep
