/ark-third-party
**/compile_commands.json
/build**
build_*
/out/
.vscode
.idea
*cmake-build-*
cts-generated
.dir-locals.el
artifacts/
cscope*
tags
.byebug_history
.cache
*.swp
libabckit/node_modules
libabckit/package-lock.json
static_core/build
static_core/plugins/ecmascript
static_core/plugins/ets/tools/declgen_ts2ets/build
static_core/plugins/ets/tools/declgen_ts2ets/node_modules
static_core/plugins/ets/tools/declgen_ts2ets/out
static_core/plugins/ets/tools/declgen_ts2ets/package-lock.json
static_core/plugins/ets/doc/.gitignore/out/
static_core/plugins/ets/doc/.gitignore/build/
static_core/plugins/ets/doc/.gitignore/rst~
static_core/tools/sampler/scripts/package-lock.json
static_core/tools/sampler/scripts/node_modules
static_core/tools/sampler/scripts/fetch_modules_from_device.js
static_core/tools/es2panda
static_core/third_party
static_core/**/__pycache__
