*.tgz filter=lfs diff=lfs merge=lfs -text
*.trp filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.8svn filter=lfs diff=lfs merge=lfs -text
*.9svn filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.hap filter=lfs diff=lfs merge=lfs -text
Flashlight_Demo.hap filter=lfs diff=lfs merge=lfs -text
Launcher.hap filter=lfs diff=lfs merge=lfs -text
Media_Library.hap filter=lfs diff=lfs merge=lfs -text
Photos.hap filter=lfs diff=lfs merge=lfs -text
Settings.hap filter=lfs diff=lfs merge=lfs -text
Telephony_Data_Storage.hap filter=lfs diff=lfs merge=lfs -text
kikaInput.hap filter=lfs diff=lfs merge=lfs -text
SystemUI-SystemDialog.hap filter=lfs diff=lfs merge=lfs -text
Airquality_Demo.hap filter=lfs diff=lfs merge=lfs -text
CallUI.hap filter=lfs diff=lfs merge=lfs -text
Clock_Demo.hap filter=lfs diff=lfs merge=lfs -text
Ecg_Demo.hap filter=lfs diff=lfs merge=lfs -text
Launcher_Settings.hap filter=lfs diff=lfs merge=lfs -text
Media_Scanner.hap filter=lfs diff=lfs merge=lfs -text
SystemUI-StatusBar.hap filter=lfs diff=lfs merge=lfs -text
SystemUI-ScreenLock.hap filter=lfs diff=lfs merge=lfs -text
Calc_Demo.hap filter=lfs diff=lfs merge=lfs -text
Camera.hap filter=lfs diff=lfs merge=lfs -text
Launcher_Recents.hap filter=lfs diff=lfs merge=lfs -text
Music_Demo.hap filter=lfs diff=lfs merge=lfs -text
SystemUI-NavigationBar.hap filter=lfs diff=lfs merge=lfs -text
PrintSpooler.hap filter=lfs diff=lfs merge=lfs -text
