.vscode/
compiler/etsTest_build/
compiler/arkTest_build/
compiler/node_modules/
compiler/lib/
compiler/declarations/
compiler/sample/build/
compiler/component_config.json
compiler/form_config.json
compiler/build_config.json
compiler/syntax_parser/dist/
compiler/.nyc_output
compiler/.test_output
compiler/kit_configs
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/default/
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/entry/src/main/pages/
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/filesInfo.txt
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/modules.cache
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/npmEntries.txt
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/sourceMaps.map
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/compileContextInfo.json
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/build/temporary/
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/preview/entry/
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/preview/filesInfo.txt
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/preview/modules.cache
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/preview/npmEntries.txt
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/preview/sourceMaps.map
compiler/test/ark_compiler_ut/testdata/testcase_def/entry/preview/compileContextInfo.json
