test262/data/
test262/eshost/
test262/harness/
test262/__pycache__/
out/
ets2panda/linter*/**/build
ets2panda/linter*/**/dist
ets2panda/linter*/**/bundle
ets2panda/linter*/**/node_modules
ets2panda/linter*/cookbook_convertor/md
ets2panda/linter*/**/*.tsbuildinfo
ets2panda/linter*/**/.vs
ets2panda/linter*/**/.vscode
ets2panda/linter*/**/.cache
ets2panda/linter*/test/**/results
ets2panda/linter*/test_rules/**/results
ets2panda/linter*/test_regression/**/results
ets2panda/linter*/test_extended_features/**/results
ets2panda/linter*/**/package-lock.json
**/compile_commands.json
.cache
.vscode
.local
third_party/
