// Base configuration
//
// Location of signtool.jar

config.signtool=../hapsigntool/hap_sign_tool/build/libs/hap-sign-tool.jar

// All products would be put into folder
config.targetDir=result

// Common configuration, will be overwrite by detail config
common.keystoreFile=ohtest.jks
common.keystorePwd=123456
common.keyAlg=ECC
common.keySize=NIST-P-256
common.signAlg=SHA256withECDSA
common.validity=365
common.outForm=certChain
common.mode=localSign

// You must change this instead of using default
common.keyPwd=123456
common.issuerKeyPwd=123456

// keypair of app signature
app.keypair.keyAlias=oh-app1-key-v1
app.keypair.keyPwd=123456

// keypair of profile signature
profile.keypair.keyAlias=oh-profile1-key-v1
profile.keypair.keyPwd=123456

// Csr
csr.keyAlias=oh-app1-key-v1
csr.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=App1 Release
csr.outFile=oh-app1-key-v1.csr

// Root CA
root-ca.keyAlias=oh-root-ca-key-v1
root-ca.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=Root CA
root-ca.outFile=root-ca1.cer

// Sub APP CA
sub-ca.app.keyAlias=oh-app-sign-srv-ca-key-v1
sub-ca.app.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN= Application Signature Service CA
sub-ca.app.outFile=app-sign-srv-ca1.cer

// Sub Profile CA
sub-ca.profile.keyAlias=oh-profile-sign-srv-ca-key-v1
sub-ca.profile.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN= Profile Signature Service CA
sub-ca.profile.outFile=profile-sign-srv-ca1.cer

// App signature cert
cert.app.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=App1 Release
cert.app.outFile=app1.pem

// Profile signature cert
cert.profile.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=Profile1 Release
cert.profile.outFile=profile1.pem

// Sign profile
sign.profile.inFile=app1-profile-release.json
sign.profile.outFile=app1-profile.p7b

// Sign app
sign.app.inFile=app1-unsigned.hap
sign.app.outFile=app1-signed.hap


// Default config. Do not change it
sub-ca.app.issuer=$root-ca.subject
sub-ca.app.issuerKeyAlias=$root-ca.keyAlias
sub-ca.profile.issuer=$root-ca.subject
sub-ca.profile.issuerKeyAlias=$root-ca.keyAlias

cert.app.keyAlias=$app.keypair.keyAlias
cert.app.issuer=$sub-ca.app.subject
cert.app.issuerKeyAlias=$sub-ca.app.keyAlias
cert.app.rootCaCertFile=$root-ca.outFile
cert.app.subCaCertFile=$sub-ca.app.outFile

cert.profile.keyAlias=$profile.keypair.keyAlias
cert.profile.issuer=$sub-ca.profile.subject
cert.profile.issuerKeyAlias=$sub-ca.profile.keyAlias
cert.profile.rootCaCertFile=$root-ca.outFile
cert.profile.subCaCertFile=$sub-ca.profile.outFile

sign.profile.keyAlias=$profile.keypair.keyAlias
sign.profile.profileCertFile=$cert.profile.outFile

sign.app.keyAlias=$app.keypair.keyAlias
sign.app.appCertFile=$cert.app.outFile
sign.app.profileFile=$sign.profile.outFile
