// Base configuration
//
// Location of signtool.jar

config.signtool=../hapsigntool/hap_sign_tool/build/libs/hap-sign-tool.jar

// All products would be put into folder
config.targetDir=result

// Common configuration, will be overwrite by detail config
common.keystoreFile=OpenHarmony.p12
common.keystorePwd=123456
common.keyAlg=ECC
common.keySize=NIST-P-256
common.signAlg=SHA256withECDSA
common.validity=365
common.outForm=certChain
common.mode=localSign

// You must change this instead of using default
common.keyPwd=123456
common.issuerKeyPwd=123456

// keypair of app signature
app.keypair.keyAlias=oh-app1-key-v1
app.keypair.keyPwd=123456

// keypair of profile signature
profile.keypair.keyAlias=openharmony application profile release
profile.keypair.keyPwd=123456

// Root CA
root-ca.outFile=rootCA.cer

// Sub APP CA
sub-ca.app.keyAlias=openharmony application ca
sub-ca.app.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Team,CN= OpenHarmony Application CA
sub-ca.app.outFile=subCA.cer

// App signature cert
cert.app.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Team,CN=OpenHarmony Application Release
cert.app.outFile=app1.pem

// Profile signature cert
cert.profile.outFile=OpenHarmonyProfileRelease.pem

// Sign profile
sign.profile.inFile=UnsgnedReleasedProfileTemplate.json
sign.profile.outFile=app1-profile.p7b

// Default config. Do not change it
cert.app.keyAlias=$app.keypair.keyAlias
cert.app.issuer=$sub-ca.app.subject
cert.app.issuerKeyAlias=$sub-ca.app.keyAlias
cert.app.rootCaCertFile=$root-ca.outFile
cert.app.subCaCertFile=$sub-ca.app.outFile

sign.profile.keyAlias=$profile.keypair.keyAlias
sign.profile.profileCertFile=$cert.profile.outFile
