// Base configuration
//
// Location of signtool.jar

config.signtool=../hapsigntool/hap_sign_tool/build/libs/hap-sign-tool.jar

// All products would be put into folder
config.targetDir=result

// Common configuration, will be overwrite by detail config
common.keystoreFile=OpenHarmony.p12
common.keystorePwd=123456
common.signAlg=SHA256withECDSA
common.mode=localSign

// You must change this instead of using default
common.keyPwd=123456
common.issuerKeyPwd=123456

// keypair of app signature
app.keypair.keyAlias=oh-app1-key-v1
app.keypair.keyPwd=123456

// App signature cert
cert.app.outFile=app1.pem

// Sign profile
sign.profile.outFile=app1-profile.p7b

// Sign app
sign.app.inFile=app1-unsigned.hap
sign.app.outFile=app1-signed.hap


// Default config. Do not change it
sign.app.keyAlias=$app.keypair.keyAlias
sign.app.appCertFile=$cert.app.outFile
sign.app.profileFile=$sign.profile.outFile
